studio-workspace-new/.mule/plugins-tmp/repository/7.18.1/com/mulesoft/connectors/mule-hl7-mllp-connector/2.2.0/mule-mllp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/mllp" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="mllp-listener-config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionInt" use="optional" name="acceptCount"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="mllp-listener-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="001C" name="delimiter"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="000B" name="startBlock"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port">
            <xs:annotation>
              <xs:documentation>Connection's port number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="host">
            <xs:annotation>
              <xs:documentation>Connection's host name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="sendBufferSize">
            <xs:annotation>
              <xs:documentation>The size of the buffer (in bytes) used when sending data, set on the socket itself.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="receiveBufferSize">
            <xs:annotation>
              <xs:documentation>The size of the buffer (in bytes) used when receiving data, set on the socket itself.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="clientTimeout">
            <xs:annotation>
              <xs:documentation>This sets the SO_TIMEOUT value on sockets. Indicates the amount of time (in milliseconds) that the socket will wait in a blocking operation before failing. &lt;p&gt; A value of 0 (the default) means waiting indefinitely.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="reuseAddress">
            <xs:annotation>
              <xs:documentation>If set (the default), SO_REUSEADDRESS is set on the sockets before binding. This helps reduce "address already in use" errors when a socket is re-used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="sendTcpNoDelay">
            <xs:annotation>
              <xs:documentation>If set, transmitted data is not collected together for greater efficiency but sent immediately. &lt;p&gt; Defaults to true even though Socket default is false because optimizing to reduce amount of network traffic over latency is hardly ever a concern today.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="linger">
            <xs:annotation>
              <xs:documentation>This sets the SO_LINGER value. This is related to how long (in milliseconds) the socket will take to close so that any remaining data is transmitted correctly.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="keepAlive">
            <xs:annotation>
              <xs:documentation>Enables SO_KEEPALIVE behavior on open sockets. This automatically checks socket connections that are open but unused for long periods and closes them if the connection becomes unavailable. &lt;p&gt; This is a property on the socket itself and is used by a server socket to control whether connections to the server are kept alive before they are recycled.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="failOnUnresolvedHost">
            <xs:annotation>
              <xs:documentation>Whether the socket should fail during its creation if the host set on the endpoint cannot be resolved. However, it can be set to false to allow unresolved hosts (useful when connecting through a proxy).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="serverTimeout">
            <xs:annotation>
              <xs:documentation>This sets the SO_TIMEOUT value when the socket is used as a server. This is the timeout that applies to the "accept" operation. A value of 0 (the ServerSocket default) causes the accept to wait indefinitely (if no connection arrives).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="50" name="receiveBacklog">
            <xs:annotation>
              <xs:documentation>The maximum queue length for incoming connections.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/mllp" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Mllp-listenerType" substitutionGroup="mule:abstract-message-source" name="mllp-listener">
    <xs:annotation>
      <xs:documentation>Listens for socket connections of the given protocol in the configured host and port. &lt;p/&gt; Whenever a new connection is received, this Source will schedule a a MllpListenerSocketWorker that will handle the communication for that particular connection.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Mllp-listenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="responseValue"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="request-config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Config for requester sockets</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="mllp-requester-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:pooling-profile"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="local-address-settings">
              <xs:annotation>
                <xs:documentation>This configuration parameter refers to the address where the Socket should bind to.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:mllp="http://www.mulesoft.org/schema/mule/mllp" base="mllp:com.mulesoft.connectors.hl7.mllp.api.SocketConnectionSettings"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="001C" name="delimiter"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="000B" name="startBlock"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="localAddressSettings">
            <xs:annotation>
              <xs:documentation>This configuration parameter refers to the address where the Socket should bind to.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port">
            <xs:annotation>
              <xs:documentation>Connection's port number</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="host">
            <xs:annotation>
              <xs:documentation>Connection's host name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="sendBufferSize">
            <xs:annotation>
              <xs:documentation>The size of the buffer (in bytes) used when sending data, set on the socket itself.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="receiveBufferSize">
            <xs:annotation>
              <xs:documentation>The size of the buffer (in bytes) used when receiving data, set on the socket itself.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="clientTimeout">
            <xs:annotation>
              <xs:documentation>This sets the SO_TIMEOUT value on sockets. Indicates the amount of time (in milliseconds) that the socket will wait in a blocking operation before failing. &lt;p&gt; A value of 0 (the default) means waiting indefinitely.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="reuseAddress">
            <xs:annotation>
              <xs:documentation>If set (the default), SO_REUSEADDRESS is set on the sockets before binding. This helps reduce "address already in use" errors when a socket is re-used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="sendTcpNoDelay">
            <xs:annotation>
              <xs:documentation>If set, transmitted data is not collected together for greater efficiency but sent immediately. &lt;p&gt; Defaults to true even though Socket default is false because optimizing to reduce amount of network traffic over latency is hardly ever a concern today.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="linger">
            <xs:annotation>
              <xs:documentation>This sets the SO_LINGER value. This is related to how long (in milliseconds) the socket will take to close so that any remaining data is transmitted correctly.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="keepAlive">
            <xs:annotation>
              <xs:documentation>Enables SO_KEEPALIVE behavior on open sockets. This automatically checks socket connections that are open but unused for long periods and closes them if the connection becomes unavailable. &lt;p&gt; This is a property on the socket itself and is used by a server socket to control whether connections to the server are kept alive before they are recycled.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="failOnUnresolvedHost">
            <xs:annotation>
              <xs:documentation>Whether the socket should fail during its creation if the host set on the endpoint cannot be resolved. However, it can be set to false to allow unresolved hosts (useful when connecting through a proxy).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="30000" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Number of milliseconds to wait until an outbound connection to a remote server is successfully created. Defaults to 30 seconds.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connectors.hl7.mllp.api.SocketConnectionSettings">
    <xs:annotation>
      <xs:documentation>This configuration parameter refers to the address where the Socket should bind to.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/mllp" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendType" substitutionGroup="mule:abstract-operator" name="send">
    <xs:annotation>
      <xs:documentation>Sends the data using the client associated to the MllpRequesterConnection.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SendType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content">
            <xs:annotation>
              <xs:documentation>data that will be serialized and sent through the socket.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/mllp" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendAndReceiveType" substitutionGroup="mule:abstract-operator" name="send-and-receive">
    <xs:annotation>
      <xs:documentation>Sends the data using the client associated to the MllpRequesterConnection and then blocks until a response is received or the timeout is met, in which case the operation will return a null payload.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SendAndReceiveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content">
            <xs:annotation>
              <xs:documentation>data that will be serialized and sent through the socket.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>